<div class="container">
<div class="col-12">
  <div id="table" class="row-cols-1">
    <table class="table table-dark mt-4">
      <thead>
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let auto of auto$ | async">
        <tr>
          <td>{{auto.brand}}</td>
          <td>{{auto.model}}</td>
          <td>{{auto.description}}</td>
          <!-- <td> <i class="fa fa-trash" (click)="delete(car)"></i></td>
          <td (click)="setActive(car)"> <i class="fa fa-search"></i></td> -->
        </tr>

      </tbody>

    </table>
  </div>
</div>
</div>
