<!-- Reactive form: per collegare la parte logica typescript al form html,
                  utilizzo all'interno del tag form la direttiva
                  [formGroup]="form (proprietà che ho creato nel .ts)"
                  e la direttiva formControlName all'interno dell'input per
                  collegare all'html il campo creato nel .ts-->
                <div class="container">
                  <div class="col-md-6 mt-4">
                  <form
                  id="form"
                  class="rounded border border-dark border-5 text-white"
                  [formGroup]="form"
                  (submit)="add()"
                >

                    <div class="form-group col-6">
                      <!-- Creo un altro menù a tendina all'interno del quale mostro i brand -->
                      <label for="brandInput">Brand</label>
                      <select
                        formControlName="brand"
                        name="brands"
                        class="form-control"
                        placeholder="brand"
                      >
                        <option
                          [ngValue]="brands"
                          *ngFor="let brand of brands"
                        >
                          {{brand.name}}
                        </option>
                      </select>
                    </div>
                    <!-- ----------------------------------- -->
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="NomeRichiedenteInput">Model</label>
                        <input
                          id="modelInput"
                          [class.is-invalid]="form.get('model')?.invalid&&form.get('model')?.touched"
                          formControlName="model"
                          name="model"
                          type="text"
                          class="form-control"
                          placeholder="Q8"
                        >
                        <!-- utilizzo la classe invalid-feedback di bootstrap e
                              nel tag input utilizzo la classe is-invalid accedendo al formControl model.
                               Con la direttiva *ngIf definisco che il messaggio "il campo è obbligatorio"
                               sarà visibile solo se il campo è vuoto e solo dopo che il campo è stato toccato-->


                        <div
                          class="invalid-feedback"
                          *ngIf="form.get('model')?.hasError('required')"
                        >
                          Il campo è obbligatorio
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="form.get('model')?.hasError('minlength')"
                        >
                          Inserisci almeno {{form.get("model")?.getError("minlength")?.requiredLength}} caratteri
                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="descriptionInput">Description</label>
                        <input
                          [class.is-invalid]="form.get('description')?.invalid&&form.get('description')?.touched"
                          formControlName="description"
                          name="description"
                          type="text"
                          class="form-control"
                          placeholder="Descrizione.."
                        >
                        <div
                          class="invalid-feedback"
                          *ngIf="form.get('description')?.hasError('required')"
                        >
                          Il campo è obbligatorio
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-dark" type="submit">ADD</button>
                </form>
                  </div>


                </div>
